<!-- ...:::: Start Breadcrumb Section:::... -->
<div class="breadcrumb-section breadcrumb-bg-color--golden">
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="breadcrumb-title">Login</h3>
                    <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                        <nav aria-label="breadcrumb">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="shop-grid-sidebar-left.html">Shop</a></li>
                                <li class="active" aria-current="page">Login</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- ...:::: End Breadcrumb Section:::... -->

 <!-- ...:::: Start Customer Login Section :::... -->
 <div class="customer-login">
    <div class="container">
        <div class="row">
            <!--login area start-->
            <div class="col-lg-6 col-md-6">
                <div class="account_form" data-aos="fade-up"  data-aos-delay="0">
                    <h3>login</h3>
                    <form [formGroup]="frmLogin" (ngSubmit)="onSubmit()">
                        <div class="default-form-box">
                            <label>Tài khoản <span>*</span></label>
                            <input type="text" formControlName="TaiKhoan" placeholder="Nhập tài khoản">
                        </div>
                        <div *ngIf="submitted && f.TaiKhoan.errors" class="invalid-feedback">
                            <div *ngIf="f.TaiKhoan.errors.required">Chưa nhập tài khoản!</div>
                        </div>
                        <div class="default-form-box">
                            <label>Mật khẩu <span>*</span></label>
                            <input type="password" formControlName="MatKhau" placeholder="Nhập mật khẩu">
                        </div>
                        <div *ngIf="submitted && f.MatKhau.errors" class="invalid-feedback">
                            <div *ngIf="f.MatKhau.errors.required">Chưa nhập mật khẩu!</div>
                        </div>
                        <div class="login_submit">
                            <button class="btn btn-md btn-black-default-hover mb-4" type="submit" [disabled]="frmLogin.invalid || loading">Đăng nhập</button>
                            <label class="checkbox-default mb-4" for="offer">
                                <input type="checkbox" id="offer">
                                <span>Remember me</span>
                            </label>
                            <a href="#">Lost your password?</a>

                        </div>
                    </form>
                </div>
            </div>
            <!--login area start-->

            <!--register area start-->
            <div class="col-lg-6 col-md-6">
                <div class="account_form register" data-aos="fade-up"  data-aos-delay="200">
                    <h3>Register</h3>
                    <form [formGroup]="frmLogin" (ngSubmit)="onSubmit()">
                        <div class="default-form-box">
                            <label>Tài khoản <span>*</span></label>
                            <input type="text" formControlName="TaiKhoan" placeholder="Nhập tài khoản">
                        </div>
                        <div class="default-form-box">
                            <label>Mật khẩu <span>*</span></label>
                            <input type="password" formControlName="MatKhau" placeholder="Nhập mật khẩu">
                        </div>
                        <div class="login_submit">
                            <button class="btn btn-md btn-black-default-hover" type="submit">Register</button>
                        </div>
                    </form>
                </div>
            </div>
            <!--register area end-->
        </div>
    </div>
</div> <!-- ...:::: End Customer Login Section :::... -->