 <!-- ...:::: Start Breadcrumb Section:::... -->
 <div class="breadcrumb-section breadcrumb-bg-color--golden">
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="breadcrumb-title">Blog Grid - Full Width</h3>
                    <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                        <nav aria-label="breadcrumb">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="blog-grid-sidebar-left.html">Blog</a></li>
                                <li class="active" aria-current="page">Blog Full Width</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- ...:::: End Breadcrumb Section:::... -->

<!-- ...:::: Start Blog List Section:::... -->
<div class="blog-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-wrapper">
                    <div class="row mb-n6">
                        <div class="col-xl-4 col-md-6 col-12 mb-6" *ngFor="let blog of list_blog">
                            <!-- Start Product Default Single Item -->
                            <div class="blog-list blog-grid-single-item blog-color--golden"  data-aos="fade-up"  data-aos-delay="0">
                                <div class="image-box">
                                    <a routerLink="/blog-details/{{blog.maTinTuc}}" class="image-link">
                                        <img class="img-fluid" src="assets/images/img/{{blog.anh}}" alt="">
                                    </a>
                                </div>
                                <div class="content">
                                    <ul class="post-meta">
                                       <li>POSTED BY : <a href="#" class="author">{{blog.hoTen}}</a></li> 
                                       <li>ON : <a href="#" class="date">{{blog.ngayDang}}</a></li> 
                                    </ul>
                                    <h6 class="title"><a routerLink="/blog-details/{{blog.maTinTuc}}">{{blog.tieuDe}}</a></h6>
                                    <p [innerHtml]='blog.moTa'></p>
                                    <a routerLink="/blog-details/{{blog.maTinTuc}}" class="read-more-btn icon-space-left">Read More <span class="icon"><i class="ion-ios-arrow-thin-right"></i></span></a>
                                </div>
                            </div>
                            <!-- End Product Default Single Item -->
                        </div>
                    </div>
                </div>

                <!-- Start Pagination -->
                <div class="page-pagination text-center" >
                    <ngb-pagination [collectionSize]="totalItems" [pageSize]="pageSize" [(page)]="page" [maxSize]="5" [rotate]="true" (pageChange)="loadPage($event)"></ngb-pagination>
                </div>
                 <!-- End Pagination -->
            </div>
        </div>
    </div>
</div> <!-- ...:::: End Blog List Section:::... -->