 <!-- ...:::: Start Breadcrumb Section:::... -->
 <div class="breadcrumb-section breadcrumb-bg-color--golden">
    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3 class="breadcrumb-title">Checkout</h3>
                    <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                        <nav aria-label="breadcrumb">
                            <ul>
                                <li><a routerLink="/">Home</a></li>
                                <li class="active" aria-current="page">Checkout</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- ...:::: End Breadcrumb Section:::... -->

<!-- ...:::: Start Checkout Section:::... -->
<div class="checkout-section">
    <div class="container">
        <div class="row">
            <!-- User Quick Action Form -->
            <div class="col-12">
                <div class="user-actions accordion" data-aos="fade-up"  data-aos-delay="0">
                    <h3>
                        <i class="fa fa-file-o" aria-hidden="true"></i>
                        Returning customer?
                        <a class="Returning" href="#" data-bs-toggle="collapse" data-bs-target="#checkout_login" aria-expanded="true">Click here to login</a>
                    </h3>
                    <div id="checkout_login" class="collapse" data-parent="#checkout_login">
                        <div class="checkout_info">
                            <p>If you have shopped with us before, please enter your details in the boxes below. If you are a new customer please proceed to the Billing &amp; Shipping section.</p>
                            <form action="#">
                                <div class="form_group default-form-box">
                                    <label>Username or email <span>*</span></label>
                                    <input type="text">
                                </div>
                                <div class="form_group default-form-box">
                                    <label>Password <span>*</span></label>
                                    <input type="password">
                                </div>
                                <div class="form_group group_3 default-form-box">
                                    <button class="btn btn-md btn-black-default-hover" type="submit">Login</button>
                                    <label class="checkbox-default">
                                        <input type="checkbox">
                                        <span>Remember me</span>
                                    </label>
                                </div>
                                <a href="#">Lost your password?</a>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="user-actions accordion" data-aos="fade-up"  data-aos-delay="200">
                    <h3>
                        <i class="fa fa-file-o" aria-hidden="true"></i>
                        Returning customer?
                        <a class="Returning" href="#" data-bs-toggle="collapse" data-bs-target="#checkout_coupon" aria-expanded="true">Click here to enter your code</a>
                        
                    </h3>
                    <div id="checkout_coupon" class="collapse checkout_coupon" data-parent="#checkout_coupon">
                        <div class="checkout_info">
                            <form action="#">
                                <input placeholder="Coupon code" type="text">
                                <button class="btn btn-md btn-black-default-hover" type="submit">Apply coupon</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- User Quick Action Form -->
        </div>
        
        <form [formGroup]="frmCheckout" (ngSubmit)="onSubmit(frmCheckout.value)">
            <!-- Start User Details Checkout Form -->
            <div class="checkout_form" data-aos="fade-up"  data-aos-delay="400">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <h3>Chi tiết đơn hàng</h3>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="default-form-box">
                                    <label>Họ và tên<span>*</span></label>
                                    <input type="text" formControlName="txtHoTen" [(ngModel)]="user.hoTen">
                                    <div class="col alert alert-danger" role="alert" *ngIf="frmCheckout.controls.txtHoTen.errors && frmCheckout.controls.txtHoTen?.touched">
                                        <div *ngIf="frmCheckout.controls.txtHoTen?.errors?.required">Không được phép rỗng</div>
                                        <div *ngIf="frmCheckout.controls.txtHoTen?.errors?.minlength">Độ dài phải 2 - 50 ký tự</div>
                                        <div *ngIf="frmCheckout.controls.txtHoTen?.errors?.maxlength">Độ dài phải 2 - 50 ký tự</div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-lg-6">
                                <div class="default-form-box">
                                    <label>Tỉnh/TP <span>*</span></label>
                                    <p-dropdown [style]="{'width': '100%', 'height': '50%'}" [options]="TinhTP" formControlName="tinh" [(ngModel)]="selectedTinhTP" optionLabel="ten" [filter]="true" (onChange)="selectQH()"  filterBy="ten" [showClear]="true" placeholder="Tỉnh/Thành Phố" >
                                        <ng-template pTemplate="selectedItem">
                                            <div class="country-item country-item-value" *ngIf="selectedTinhTP">
                                                <div>{{selectedTinhTP.ten}}</div>
                                            </div>
                                        </ng-template>
                                        <ng-template let-country pTemplate="item">
                                            <div class="country-item">
                                                <div>{{country.ten}}</div>
                                            </div>
                                        </ng-template>
                                    </p-dropdown>
                                    <div class="col alert alert-danger" role="alert" *ngIf="frmCheckout.controls.tinh.errors && frmCheckout.controls.tinh?.touched">
                                        <div *ngIf="frmCheckout.controls.tinh?.errors?.required">Không được phép rỗng</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="default-form-box" >
                                    <label>Quận/Huyện <span>*</span></label>
                                    <div *ngIf="selectedTinhTP!=null">
                                        <p-dropdown [style]="{'width': '100%'}" [options]="QH" formControlName="huyen" [(ngModel)]="selectedQH" optionLabel="ten" [filter]="true" (onChange)="selectXP()" filterBy="ten" [showClear]="true" placeholder="Quận/Huyện" class="p-inputtext-sm1">
                                            <ng-template pTemplate="selectedItem">
                                                <div class="country-item country-item-value" *ngIf="selectedQH">
                                                    <div>{{selectedQH.ten}}</div>
                                                </div>
                                            </ng-template>
                                            <ng-template let-country pTemplate="item">
                                                <div class="country-item">
                                                    <div>{{country.ten}}</div>
                                                </div>
                                            </ng-template>
                                        </p-dropdown>
                                        <div class="col alert alert-danger" role="alert" *ngIf="frmCheckout.controls.huyen.errors && frmCheckout.controls.huyen?.touched">
                                            <div *ngIf="frmCheckout.controls.huyen?.errors?.required">Không được phép rỗng</div>
                                        </div>
                                    </div>
                                    <div class="base4" *ngIf="selectedTinhTP==null">
                                        <p-dropdown  [style]="{'width': '100%'}" [filter]="true" filterBy="ten" [showClear]="true" placeholder="Quận/Huyện" class="p-inputtext-sm1">
                                        </p-dropdown>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="default-form-box" >
                                    <label>Phường/Xã <span>*</span></label>
                                    <div *ngIf="selectedQH!=null">
                                        <p-dropdown formControlName="xa"  [style]="{'width': '100%'}" (onChange)="getDiaChi()" [options]="XP" [(ngModel)]="selectedXP" optionLabel="ten" [filter]="true" filterBy="ten" [showClear]="true" placeholder="Xã/Phường" class="p-inputtext-sm1">
                                            <ng-template pTemplate="selectedItem">
                                                <div class="country-item country-item-value" *ngIf="selectedXP">
                                                    <div>{{selectedXP.ten}}</div>
                                                </div>
                                            </ng-template>
                                            <ng-template let-country pTemplate="item">
                                                <div class="country-item">
                                                    <div>{{country.ten}}</div>
                                                </div>
                                            </ng-template>
                                        </p-dropdown>
                                        <div class="col alert alert-danger" role="alert" *ngIf="frmCheckout.controls.xa.errors && frmCheckout.controls.xa?.touched">
                                            <div *ngIf="frmCheckout.controls.xa?.errors?.required">Không được phép rỗng</div>
                                        </div>
                                    </div>
                                    <div class="base2" *ngIf="selectedQH==null">
                                        <p-dropdown  [style]="{'width': '100%'}"  [filter]="true" filterBy="ten" [showClear]="true" placeholder="Xã/Phường" class="p-inputtext-sm1">
                                        </p-dropdown>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="default-form-box">
                                    <label>Địa chỉ chi tiết<span>*</span></label>
                                    <input type="text" formControlName="txtDiaChi" [(ngModel)]="user.diaChi"  >
                                    <div class="col alert alert-danger" role="alert" *ngIf="frmCheckout.controls.txtDiaChi.errors && frmCheckout.controls.txtDiaChi?.touched">
                                        <div *ngIf="frmCheckout.controls.txtDiaChi?.errors?.required">Không được phép rỗng</div>
                                    </div>  
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="default-form-box">
                                    <label>Số điện thoại<span>*</span></label>
                                    <input type="text" formControlName="txtSDT">
                                    <div class="col alert alert-danger" role="alert" *ngIf="frmCheckout.controls.txtSDT.errors && frmCheckout.controls.txtSDT?.touched">
                                        <div *ngIf="frmCheckout.controls.txtSDT?.errors?.required">Không được phép rỗng</div>
                                        <div *ngIf="frmCheckout.controls.txtSDT?.errors?.pattern">Không phải định dạng số điện thoại</div>
                                    </div>  
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="default-form-box">
                                    <label> Email <span>*</span></label>
                                    <input type="text" formControlName="txtEmail"  [(ngModel)]="user.email"  >
                                    <div class="col alert alert-danger" role="alert" *ngIf="frmCheckout.controls.txtEmail.errors && frmCheckout.controls.txtEmail?.touched">
                                        <div *ngIf="frmCheckout.controls.txtEmail?.errors?.txtEmail">Không phải định dạng email</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <label class="checkbox-default" for="newAccount" data-bs-toggle="collapse" data-bs-target="#newAccountPassword">
                                    <input type="checkbox" id="newAccount">
                                    <span>Create an account?</span>
                                </label>
                                <div id="newAccountPassword" class="collapse mt-3" data-parent="#newAccountPassword">
                                    <div class="card-body1 default-form-box">
                                        <label> Account password <span>*</span></label>
                                        <input placeholder="password" type="password">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <label class="checkbox-default" for="newShipping" data-bs-toggle="collapse" data-bs-target="#anotherShipping">
                                    <input type="checkbox" id="newShipping">
                                    <span>Ship to a different address?</span>
                                </label>
                                
                                <div id="anotherShipping" class="collapse mt-3" data-parent="#anotherShipping">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="default-form-box">
                                                <label>First Name <span>*</span></label>
                                                <input type="text">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="default-form-box">
                                                <label>Last Name <span>*</span></label>
                                                <input type="text">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="default-form-box">
                                                <label>Company Name</label>
                                                <input type="text">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="select_form_select default-form-box">
                                                <label for="countru_name">country <span>*</span></label>
                                                <select class="niceselect_option wide" name="cuntry" id="countru_name">
                                                    <option value="2">Bangladesh</option>
                                                    <option value="3">Algeria</option>
                                                    <option value="4">Afghanistan</option>
                                                    <option value="5">Ghana</option>
                                                    <option value="6">Albania</option>
                                                    <option value="7">Bahrain</option>
                                                    <option value="8">Colombia</option>
                                                    <option value="9">Dominican Republic</option>
                                                </select>
                                            </div>
                                        </div>
                                        
                                        <div class="col-12">
                                            <div class="default-form-box">
                                                <label>Street address <span>*</span></label>
                                                <input placeholder="House number and street name" type="text">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="default-form-box">
                                                <input placeholder="Apartment, suite, unit etc. (optional)" type="text">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="default-form-box">
                                                <label>Town / City <span>*</span></label>
                                                <input type="text">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="default-form-box">
                                                <label>State / County <span>*</span></label>
                                                <input type="text">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="default-form-box">
                                                <label>Phone<span>*</span></label>
                                                <input type="text">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="default-form-box">
                                                <label> Email Address <span>*</span></label>
                                                <input type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-3">
                                <div class="order-notes">
                                    <label for="order_note">Order Notes</label>
                                    <textarea id="order_note" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <h3>Đơn hàng của bạn</h3>
                        <div class="order_table table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Sản phẩm</th>
                                        <th>Thành tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of items">
                                        <td> {{item.tenSanPham}} <strong> × {{item.quantity}}</strong></td>
                                        <td> {{item.giaBan | currency: "VND"}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Giá trị giỏ hàng</th>
                                        <td>{{total | currency: "VND"}}</td>
                                    </tr>
                                    <tr>
                                        <th>Tiền giao hàng</th>
                                        <td><strong>50.000 đ</strong></td>
                                    </tr>
                                    <tr class="order_total">
                                        <th>Tổng tiền</th>
                                        <td><strong>{{total + 50000| currency: "VND"}}</strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="payment_method">
                            <div class="panel-default">
                                <label class="checkbox-default" for="currencyCod" data-bs-toggle="collapse" data-bs-target="#methodCod">
                                    <input type="checkbox" id="currencyCod">
                                    <span>Cash on Delivery</span>
                                </label>
                                
                                <div id="methodCod" class="collapse" data-parent="#methodCod">
                                    <div class="card-body1">
                                        <p>Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-default">
                                <label class="checkbox-default" for="currencyPaypal" data-bs-toggle="collapse" data-bs-target="#methodPaypal">
                                    <input type="checkbox" id="currencyPaypal">
                                    <span>PayPal</span>
                                </label>
                                <div id="methodPaypal" class="collapse " data-parent="#methodPaypal">
                                    <div class="card-body1">
                                        <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="order_button pt-3">
                                <!-- [disabled]="!frmCheckout.valid" -->
                                <button class="btn btn-md btn-black-default-hover" [disabled]="!frmCheckout.valid" type="submit" >Đặt hàng</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- Start User Details Checkout Form -->
        </form>
    </div>
</div><!-- ...:::: End Checkout Section:::... -->