 <!-- Loader -->
 <!-- <div id="preloader"><div id="status"><div class="spinner"></div></div></div> -->
 
 <!-- Begin page -->
 <div id="layout-wrapper">
  
  
  <app-topbar></app-topbar>
  
  <!-- ========== Left Sidebar Start ========== -->
  <app-left-slidebar></app-left-slidebar>
  <!-- Left Sidebar End -->
  
  <!-- ============================================================== -->
  <!-- Start right Content here -->
  <!-- ============================================================== -->
  <div class="main-content">
    
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
    <!-- End Page-content -->
    
    <footer class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <script>document.write(new Date().getFullYear())</script> © Admiria.
          </div>
          <div class="col-sm-6">
            <div class="text-sm-end d-none d-sm-block">
              Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand
            </div>
          </div>
        </div>
      </div>
    </footer>
    
  </div>
  <!-- end main content-->
  
</div>
<!-- END layout-wrapper -->

<!-- Right Sidebar -->
<div class="right-bar">
  <div data-simplebar class="h-100">
    <div class="rightbar-title px-3 py-4">
      <a href="javascript:void(0);" class="right-bar-toggle float-end">
        <i class="mdi mdi-close noti-icon"></i>
      </a>
      <h5 class="m-0">Settings</h5>
    </div>
    
    <!-- Settings -->
    <hr class="mt-0">
    <h6 class="text-center mb-0">Choose Layouts</h6>
    
    <div class="p-4">
      <div class="mb-2">
        <img src="assets/images/layouts/layout-1.jpg" class="img-fluid img-thumbnail" alt="Layouts-1">
      </div>
      <div class="form-check form-switch mb-3">
        <input class="form-check-input theme-choice" type="checkbox" id="light-mode-switch">
        <label class="form-check-label" for="light-mode-switch">Light Mode</label>
      </div>
      
      <div class="mb-2">
        <img src="assets/images/layouts/layout-2.jpg" class="img-fluid img-thumbnail" alt="Layouts-2">
      </div>
      
      <div class="form-check form-switch mb-3">
        <input class="form-check-input theme-choice" type="checkbox" id="dark-mode-switch" data-bsStyle="assets/css/bootstrap-dark.min.css" data-appStyle="assets/css/app-dark.min.css">
        <label class="form-check-label" for="dark-mode-switch">Dark Mode</label>
      </div>
      
      <div class="mb-2">
        <img src="assets/images/layouts/layout-3.jpg" class="img-fluid img-thumbnail" alt="Layouts-3">
      </div>
      
      <div class="form-check form-switch mb-3">
        <input class="form-check-input theme-choice" type="checkbox"  id="rtl-mode-switch" data-appStyle="assets/css/app-rtl.min.css">
        <label class="form-check-label" for="rtl-mode-switch">RTL Mode</label>
      </div>
      
      
    </div>
    
  </div> <!-- end slimscroll-menu-->
</div>
<!-- /Right-bar -->

<!-- Right bar overlay-->
<div class="rightbar-overlay"></div>